.filteringButtons {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 20px;
    
}

.filteringButtons button{
    padding: 15px;
    margin-right: 15px;
    border: 1px solid green;
}

.filteringButtons button:hover{
    text-decoration: underline;
    background-color: aliceblue;
    opacity: 0.8;
}